<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021683594031-srhv440c0f8dvilb5101up11ugja30er.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021683594031-srhv440c0f8dvilb5101up11ugja30er</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1021683594031-5r0g6kdmitg3qpsjqvdqt70u5qgt7vcj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrhiAcBbaueR-i5oqNPR7OGAWUetyKTy4</string>
	<key>GCM_SENDER_ID</key>
	<string>1021683594031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.f3deve.flutter.expertSupportAdmin</string>
	<key>PROJECT_ID</key>
	<string>expertsupport-48940</string>
	<key>STORAGE_BUCKET</key>
	<string>expertsupport-48940.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021683594031:ios:af98f9ad3a6def1e</string>
	<key>DATABASE_URL</key>
	<string>https://expertsupport-48940.firebaseio.com</string>
</dict>
</plist>